
@font-face {
  font-family: Starlord;
  src: url(../fonts/Starlord.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

h3{
  display: block;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('../images/moragplanet.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;;
}

.characterSelector {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 200px;
}

.container {
  position: absolute;
  top: 10%;
  width: 30%;
  height: 50%;
  border: 2px solid grey;
}

h1 {
  position: absolute;
  top: 2%;
  color: white;
  font-family: Starlord;
}

table {
  height: 100%;
  width: 100%;
}

table tr td {
  border: 1px solid black;

}

td {
  top: 20%;
  width: 33%;
  height: 33%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: ;
  color: rgb(9, 21, 36);
  background-color: rgba(255,255,255, 0.4);
  background-size: cover;
}

img {

  width: 10%;
  height: auto;
  top: 85%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  padding: 5px;
}

.hidden {
  display: none;
  float: left;
}

.playerRecord {
  position: absolute;
  width: 15%;
  height: 20%;
  border: 2px solid grey;
  background-color: rgba(255,255,255, 0.4);
  color: rgb(9, 21, 36);
}



#x {
  position: absolute;
  top: 35%;
  left: 16%;
  text-align: center;
  color: rgb(9, 21, 36);
}

#o {
  position: absolute;
  top: 35%;
  right: 16%;
  text-align: center;
  color: rgb(9, 21, 36);
}

#resultbanner {
  position: absolute;
  top: 12%;
  color: rgb(9, 21, 36);
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.5);
}

#reset {
  position: absolute;
  bottom: 35%;
}
