
@font-face {
  font-family: Starlord;
  src: url(../fonts/Starlord.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

h3{
  display: block;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('../images/moragplanet.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;;
  height: 650px;
}

.characterSelector {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 200px;
}

.container {
  position: absolute;
  top: 10%;
  width: 30%;
  height: 50%;
  border: 2px solid grey;
}

h1 {
  position: absolute;
  top: 2%;
  color: #463A12;
  text-shadow: white 2px;
  font-family: Starlord;
}

table {
  height: 100%;
  width: 100%;
}

table tr td {
  border: 1px solid black;

}

td {
  top: 20%;
  width: 33%;
  height: 33%;
  background-color: rgba(255,255,255, 0.5);
  background-size: cover;
}

img {

  width: 10%;
  height: auto;
  top: 85%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  padding: 5px;
}

.hidden {
  display: none;
  float: left;
  width: 40px;
  height: auto;
  align-content: space-around;
}

.playerRecord {
  position: absolute;
  width: 15%;
  height: 20%;
  border: 2px solid #463A12;
  background-color: rgba(255,255,255, 0.75);
  color: rgb(9, 21, 36);
}

#playerXbackground {
  position: absolute;
  width: 15%;
  height: 40%;
  border: 2px solid #463A12;
  top: 15%;
  left: 16%;
}

#playerObackground {
  position: absolute;
  width: 15%;
  height: 40%;
  border: 2px solid #463A12;
  top: 15%;
  right: 16%;

}



#x {
  position: absolute;
  top: 35%;
  left: 16%;
  text-align: center;
  color: #6D5A1C;
  font-family: Starlord;
}

#o {
  position: absolute;
  top: 35%;
  right: 16%;
  text-align: center;
  color: #6D5A1C;
  font-family: Starlord;
}

#resultbanner {
  position: absolute;
  display: none;
  top: 20%;
  width:400px;
  height: 50px;
  color: #D4AF37;
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.70  );
  font-family: Starlord;
  font-size: 40px;
  text-align: center;
}

#nextLevel {
  position: absolute;
  bottom: 33%;
  background-color: rgba(212,175,55,0.75);
  width: 15%;
  height: 5%;
  border: none;
  padding: 3px;
  font-family: Starlord;
  font-size: 18px;
  color: #6D5A1C;
  border: 1px solid black;

}
#clearHistory {
  display: none;
  position: absolute;
  bottom: 33%;
  background-color: rgba(0,0,0,0.75);
  width: 15%;
  height: 5%;
  border: none;
  padding: 3px;
  font-family: Starlord;
  font-size: 18px;
  color: white;
  border: 1px solid black;

/*}

#AI {
    position: absolute;
    background-color: rgba(212,175,55,0.75);
    border: 1px solid grey;
    width: 15.25%;
    top: 56%;
    right: 16%;
    text-align: center;
    color: rgba(0,0,0,0.75);
    font-family: Starlord;

}*/

#cheat {
  position: absolute;
  bottom: 30%;
}
