
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  /*background-image: url('../images/fijibackground.jpg');*/
  /*background-size: cover;*/
}
.container {
  position: absolute;
  top: 20%;
  width: 30%;
  height: 50%;
  border: 1px solid red;
}
h1 {
  position: absolute;
  top: 5%;
}

table {
  height: 100%;
  width: 100%;
}

table tr td {
  border: 3px solid black;
}

td {
  top: 20%;
  width: 33%;
  height: 33%;
  text-align: center;
  font-size: 30%;
  font-weight: bold;
  font-family: 'Finger Paint', cursive;
  color: red;
};



.playerRecord {
  position: absolute;
  border: 3px solid black;
}

#playerOne {
  position: absolute;
  top: 35%;
  left: 5px;
}

#playerTwo {
  position: absolute;
  top: 35%;
  right: 5px
}

#x {
  font-family: inherit;
}

#o {
  font-family: inherit;
}

#resultbanner {
  position: absolute;
  top: 12%;
}

#reset {
  position: absolute;
  bottom: 5%;
}
